<!DOCTYPE html>
<html>
<head>
	<title>静月茹花</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="shortcut icon" href="../static/images/moon_128X128.ico">
	<script type="text/javascript" src="../static/js/jquery-3.0.0.min.js"></script>
	<script type="text/javascript" src="../static/js/public.js"></script>
	<script type="text/javascript" src="../static/js/index.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/public.css">
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
	{% include 'header.html' %}
	<div class="bannerBox">
		<ul class="bannerBg">
			<li>
				<div class="bannerText">
					<h1>欢迎来到我的世界</h1>
					<p>这是一个音乐与心情的世界</p>
					<a href="#look">查看更多</a>
				</div>
			</li>
			<li>
				<div class="bannerText">
					<h1>这里是音乐集</h1>
					<p>每一首音乐都是一种心情</p>
					<a href="musiclist">查看更多</a>
				</div>
			</li>
			<li>
				<div class="bannerText">
					<h1>一直在路上</h1>
					<p>身体和灵魂总有一个在路上</p>
					<a href="https://github.com/Moon-Future" target="_blank">查看更多</a>
				</div>
			</li>
		</ul>
		<div class="left-arrow"></div>
		<div class="right-arrow"></div>
		<ul class="bannerCircle clearFloat">
			<li class="selected"></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div class="index-content">
		<div class="You container">
			<h3><a name="look">夜色温柔，我一个人行路</a></h3>
			<div class="insertPic clearFloat">
				<div>
					<img src="../static/images/pic01.png" alt="晚安">
					<div class="wraper">
						<div class="wraper-shadow"></div>
						<div class="wraper-text">
							<a href="./music/34923114">晚安</a>
						</div>
					</div>
				</div>
				<div>
					<img src="../static/images/pic02.png" alt="深邃眼神">
					<div class="wraper">
						<div class="wraper-shadow"></div>
						<div class="wraper-text">
							<a href="./music/3413782">The End of the World</a>
						</div>
					</div>
				</div>
				<div>
					<img src="../static/images/pic03.png" alt="蝴蝶">
					<div class="wraper">
						<div class="wraper-shadow"></div>
						<div class="wraper-text">
							<a href="./music/1791490">Le Papillon</a>
						</div>
					</div>
				</div>
				<div>
					<img src="../static/images/pic04.png" alt="捧手">
					<div class="wraper">
						<div class="wraper-shadow"></div>
						<div class="wraper-text">
							<a href="./music/29567100">眉间雪</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="Me You container">
			<h3>夜色温柔，我陪你行路</h3>
			<div class="insertPic clearFloat">
				<div class="poem">
					<p>谁念西风独自凉,
					萧萧黄叶闭疏窗,
					沉思往事立残阳,
					被酒莫惊春睡重,
					赌书消得泼茶香,
					当时只道是寻常</p>
				</div>
				<div>
					<img src="../static/images/pic05.png" alt="深邃眼神">
					<div class="wraper">
						<div class="wraper-shadow"></div>
						<div class="wraper-text">
							<a href="./music/35403523">陪你度过漫长岁月</a>
						</div>
					</div>
				</div>
				<div>
					<img src="../static/images/pic06.png" alt="蝴蝶">
					<div class="wraper">
						<div class="wraper-shadow"></div>
						<div class="wraper-text">
							<a href="./music/168624">柳树下</a>
						</div>
					</div>
				</div>
				<div>
					<img src="../static/images/pic07.png" alt="捧手">
					<div class="wraper">
						<div class="wraper-shadow"></div>
						<div class="wraper-text">
							<a href="./music/409650012">相守</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="love">
		<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=298 height=52 src="" data-src="http://music.163.com/outchain/player?type=2&id=2080139&auto=1&height=32"></iframe>
	</div>
	{% include 'footer.html' %}
</body>
</html>